
.custom-card {
    border: 1px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

.custom-card:hover {
    border-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.animated-heading {
    animation: slideIn 1s ease-out;
}

.animated-text {
    animation: fadeIn 1.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.section-title {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
    color: #007bff;
    text-transform: uppercase;
}
